<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <style>
    .dash-container {
      display: flex;
      flex-flow: row wrap;
    }
    .dash-card {
      display: inline-block;
      float:left;
      border: 2px solid black;
      height:200px;
      min-width:110px;
      max-width:110px;
      margin-bottom:10px;
    }
    .dash-card1 {
      margin-left:-165px;
      margin-right:10px;
    }
    .dash-cardn {
      margin-right:10px;
    }
    .dash-content {
      text-align:center;
    }
    .dash-div {
      background-color: #aaaaab;
      text-transform: uppercase;
      position: relative;
      transform:rotate(270deg) translate(-85px,-86px);
      min-height:28px; min-width:200px;
      max-height:28px; max-width:200px;
      border: 2px solid #ffffff;
      text-align:center;
    }
  </style>
</head>
<body style="background-color:#cacacf">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home"><h2><font color="lightgray">my</font>Dash!</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-link dropdown active">
        <a class="nav-link nav-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Dashboards</a>
        <div class="dropdown-menu">
        {% if granted_projects|length <= 0 %}
          <a class="dropdown-item" href="#">Nenhum projeto disponível</a>
        {% else %}
          {% for project in granted_projects %}
          <a class="dropdown-item" href="/dashboard/{{ project.id }}">{{ project.short_name }}</a>
          {% endfor %}
        {% endif %}
        </div>
      </li>
      {% if session['user_is_po'] %}
      <li class="nav-link dropdown active">
        <a class="nav-link" href="/projetos">Projetos</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline">
      <li class="nav-link dropdown">
        <a class="nav-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                {{ session["user_name"] }} ({{ session["user_profile"] }})
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalChangeUserPassword">Trocar a Senha</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Encerrar Sessão</a>
        </div>
      </li>
      <button type="button" class="btn btn-secondary" onclick="location.href = '/logout';">Encerrar</button>
    </form>
  </div>
</nav>
<div style="background-color:black; height:1px; width:100%;"></div>
<div style="background-color:white; height:1px; width:100%;"></div>

<div style="margin:10px;">

  <table>
    <tr>
      <td style="border:2px solid white;margin-left:-100px;white-space:nowrap;max-width:25px;transform:rotate(270deg) translate(-100%,0px);">
        {{ project.short_name }}
      </td>
      <td>&nbsp;</td>
      <td style="background-color:white;vertical-align:top;border:2px solid black;padding:5px;">
        <h4>{{ project.name }}</h4>
            {{ project.description }}
      </td>
      <td>&nbsp;</td>
      <td style="vertical-align:top;">
        <div style="float:right;margin:0px 0px 0px 0px;width:150px;">
          <table style="font-size:10pt;">
            <tr>
              <td style="width:20px;border:1px solid black;background:{{ feature_status.color(feature_status.NOT_STARTED)[0] }}"></td>
              <td>NÃO INICIADA</td>
            </tr>
            <tr>
              <td style="width:20px;border:1px solid black;border-top:0px;background:{{ feature_status.color(feature_status.UNDER_CONSTRUCTION)[0] }}"></td>
              <td>EM CONSTRUÇÃO</td>
            </tr>
            <tr>
              <td style="width:20px;border:1px solid black;border-top:0px;background:{{ feature_status.color(feature_status.CONSTRUCTED)[0] }}"></td>
              <td>CONCLUÍDA</td>
            </tr>
            <tr>
              <td style="width:20px;border:1px solid black;border-top:0px;background:{{ feature_status.color(feature_status.LATE)[0] }}"></td>
              <td>ATRASADA</td>
            </tr>
            <tr>
              <td style="width:20px;border:1px solid black;border-top:0px;background:{{ feature_status.color(feature_status.TESTED)[0] }}"></td>
              <td>TESTADA</td>
            </tr>
            <tr>
              <td style="width:20px;border:1px solid black;border-top:0px;background:{{ feature_status.color(feature_status.APPROVED)[0] }}"></td>
              <td>APROVADA</td>
            </tr>
            <tr>
              <td style="width:20px;border:1px solid black;border-top:0px;background:{{ feature_status.color(feature_status.CANCELED)[0] }}"></td>
              <td>CANCELADA</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <br>

  <div class="dash-container">
  {% for category in project.feature_categories %}
    <div class="dash-div">
      {{ category.name }}
    </div>
    {% set counter = namespace(value = 0) %}
    {% for feature in category.features %}
    {% if counter.value == 0 %}
    <div class="dash-card dash-card1">
    {% else %}
    <div class="dash-card dash-cardn">
    {% endif %}
    {% set counter.value = counter.value + 1 %}
      <div class="dash-content" style="background-color:{{feature_status.color(feature.status)[0]}};
                                       color:{{feature_status.color(feature.status)[1]}};">
        <div style="height:12px;"></div>
        <strong>{{ feature.short_name }}</strong><br>
        <div style="font-size:12px;text-transform:uppercase;height:50px;font-weight:bold;">{{ feature.name }}</div>
        <div style="font-size:12px;text-transform:uppercase;font-weight:bold;">{{ feature.status }}<br></div>
        {{ feature.percent_done|round|int }}%<br>
        <div style="width:100%;height:30px;margin-top:5px;margin-bottom:5px;
                    border-top:2px solid black;border-bottom:2px solid black;
                    background-color:white;">
          <div style="width:{{ feature.percent_done|round|int }}%;height:26px;
                      background-color:#00bb00;">&nbsp</div>
        </div>
        <strong>{{ '&nbsp;'|safe if feature.estimated_end_date == '' else feature.estimated_end_date.strftime('%d/%m/%Y') }}</strong>
        <div style="height:3px;"></div>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
  </div>

</body>
</html>

