<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard (Admin)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><h2><font color="lightgray">my</font>Dash!</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projetos">Projetos</a>
      </li>
    </ul>
    <form class="form-inline">
      <li class="nav-link dropdown">
          <a class="nav-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  {{ session["user_name"] }} ({{ session["user_profile"] }})
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Trocar a Senha</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Encerrar Sessão</a>
          </div>
        </li>
      <button type="button" class="btn btn-secondary" onclick="location.href = '/logout';">Encerrar</button>
    </form>
  </div>
</nav>

<center>
<div style="width:90%;">
  <table style="width:100%; margin-left:0; margin-right:auto;">
    <tr>
      <td width="100%">
        <br><h2>Meus Projetos</h2><br>
      </td>
      <td width="*" style="margin-left:auto; margin-right:0;">
        <button type="button" id="buttonNewProject" class="btn btn-primary" data-toggle="modal" data-target="#modalNewProject"
                onclick="document.getElementById('formNewProject').reset();
                         document.getElementById('alert').style.display = 'none';
                         document.getElementById('textProjectName').value = '';
                         document.getElementById('textProjectShortName').value = '';
                         document.getElementById('textProjectDescription').value = '';
                         document.getElementById('selectProjectStatus').value = '{{ project_status.ACTIVE }}';
                         setTimeout(function(){document.getElementById('textProjectShortName').focus();}, 500);">
          Novo&nbsp;Projeto
        </button>
      </td>
    </tr>
  </table>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codinome</th>
        <th scope="col">Nome do Projeto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Status</th>
        <th scope="col">Operações</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <th scope="row">{{ project.id }}</th>
        <td><strong>{{ project.short_name }}</strong></td>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>
          {% if project.status == project_status.ACTIVE %}
          <div class="alert-sm alert-primary text-center">
          {% else %}
          <div class="alert-sm alert-secondary text-center">
          {% endif %}
            {{ project.status }}
          </div>
        </td>
        <td>
          <form id="change_profile_form" class="form-inline" method="post" action="#">
            <div style="white-space: nowrap;">
              <input type="hidden" name="project_id" value="{{ project.id }}"/>
              <button type="submit" class="btn btn-outline-primary btn-sm">Editar</button>&nbsp;
              <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modalRemoveProject"
                      onclick="document.getElementById('project_id_to_remove').value = '{{ project.id }}';">Apagar</button>&nbsp;
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    {% if projects|length == 0 %}
    Nenhum projeto cadastrado
    {% elif projects|length == 1 %}
    1 projeto cadastrado
    {% else %}
    {{ projects|length }} projetos cadastrados
    {% endif %}
  </p>
</div>
</center>

<!-- New Project Modal -->
<form id="formNewProject" method="post" action="/projeto/novo">
<div class="modal fade" id="modalNewProject" role="dialog" aria-labelledby="modalNewProjectTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNewProjectTitle"> Novo Projeto </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-12">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <script>document.getElementById('buttonNewProject').click();</script>
              {% for message in messages %}
                <div id="alert" class="alert alert-danger fade show" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          </div>
        </div>
        <div class="form-group row">
          <label for="textProjectShortName" class="col-sm-4 col-form-label">Codinome:</label>
          <div class="col-sm-8">
            <input type="text" name="textProjectShortName" class="form-control" id="textProjectShortName" value="{{ project.short_name }}" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="textProjectName" class="col-sm-4 col-form-label">Nome do Projeto:</label>
          <div class="col-sm-8">
            <input type="text" name="textProjectName" class="form-control" id="textProjectName" value="{{ project.name }}" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="textProjectDescription" class="col-sm-4 col-form-label">Descrição:</label>
          <div class="col-sm-8">
            <textarea name="textProjectDescription" class="form-control" id="textProjectDescription" rows="4">{{ project.description }}</textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="selectProjectStatus" class="col-sm-4 col-form-label">Status:</label>
          <div class="col-sm-8">
            <select class="custom-select" id="selectProjectStatus" name="selectProjectStatus">
              <option value="{{ project_status.ACTIVE }}" {{ 'selected' if project.status == project_status.ACTIVE else '' }}>{{ project_status.ACTIVE }}</option>
              <option value="{{  project_status.INACTIVE }}" {{ 'selected' if project.status == project_status.INACTIVE else '' }}>{{ project_status.INACTIVE }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">&nbsp;&nbsp;Gravar&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
</form>

<!-- Confirm project Removal Modal -->
<form id="formRemoveProject" method="post" action="/projeto/remover">
<input type="hidden" id="project_id_to_remove" name="project_id_to_remove" value="0"/>
<div class="modal fade" id="modalRemoveProject" tabindex="-1" role="dialog" aria-labelledby="modalRemoveProjectTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRemoveProjectTitle">Remover Projeto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente apagar este projeto?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" style="width:100px;">Sim</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:100px;">Não</button>
      </div>
    </div>
  </div>
</div>
</form>

</body>
</html>

