body {
  background-color: #fda;
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
}}

#header {
  width: 100%;
  height: 100px;
  border:none;
  background-color: %000;
}

